.about-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #ececec;

  .app-name {
    margin: 5px 0 10px;
    font-size: 16px;
    font-weight: 500;
  }

  .app-version {
    font-size: 12px;
  }
}
