html,
body {
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
  text-decoration: none;
}

[type="checkbox"],
[type="radio"] {
  vertical-align: middle;
  margin-top: -2px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: initial;
  font-size: 12px;
  padding: 4px;
}
