.sidebar {
  width: 220px;
  border-radius: 0;
  background-color: #324157;
  position: relative;

  a {
    color: #bfcbd9;
  }

  .el-menu {
    border-radius: 0;
    margin-bottom: 40px;
    border-bottom: 1px #48576a solid;
  }

  .is-active {
    background-color: #48576a;
  }

  .icon-draft {
    color: #ff4949;
  }

  .el-menu-item {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sidebar-tools {
    color: #bfcbd9;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    text-align: right;
    background-color: #324157;

    .icon {
      font-size: 18px;
    }

    .tool-item {
      margin: 0 8px;
    }
  }

  .sidebar-search .el-input__inner {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #bfcbd9;
    height: 50px;
    border-bottom: 1px #48576a solid;
  }
}
